body{
    position: relative;
}
@media only screen and (max-width: 600px) {
    .title{
    max-width: 100%;
    padding-top: 25%;
    }
  }
.bg{
    position: absolute;
    min-width: 100%;
    min-height: 100vh;
    max-width: 100%;
    max-height: 100vh;
    object-fit: cover;
    z-index: -1;
}
#home,#services,#gallery{
    min-width: 100%;
    min-height: 100vh;
    max-width: 100%;
    max-height: 100vh;
    object-fit: cover;
}

#services{
    padding: 5%;
    text-align: center;
}
.feature-box {
    padding: 4.5%;
}
.title{
    text-align: center;
    color: whitesmoke;
}
#gallery{
    margin: 5% 0 0;
    padding: 0% 10%;
}
.servicestab{
 padding: 0% 5%;   
}
.pageheader{
    text-align: center;
    padding:5% 2% 2%;
}
.mainlogo{

}
.card{
    text-align: center;
    background-color: wheat
}
