body{
    position: relative;
}
.bg{
    position: absolute;
    z-index: -1;
    padding-top: 1rem;
    width: 100%;
}
.title{
padding: 10% 5% 5%;
color: white;
width: 50%;

}
#gallery{
    margin: 5% 0 0;
    padding: 0% 10%;
}
.servicestab{
 padding: 0% 5%;   
}
.pageheader{
    text-align: center;
    padding:5% 2% 2%;
}
.mainlogo{

}
.card{
    text-align: center;
    background-color: grey
}
#gallery{
    margin: 0cm;
}