body{
    position: relative;
}
.bg{
    position: absolute;
    z-index: -1;
    padding-top: 1rem;
    width: 100%;
}
.title{
padding: 20% 5%;
color: white;

}
#gallery{
    margin: 5% 0 0;
    padding: 5%;
}
.servicestab{
 padding: 5% 5% 5%;   
}
.pageheader{
    text-align: center;
    padding:10% 2% 2%;
}